<section class="section about" id="about">
    <div class="about_container container grid">
        <div class="about_group">
            <img src="../../assets/img/about.png" alt="" class="about_img">
            <div class="about_card">
                <h3 class="about_cardTitle">2.500+</h3>
                <p class="about_cardDescription">
                    Supercharges placed along popular routes
                </p>
            </div>
        </div>
        <div class="about_data">
            <h2 class="about_title">
                Machines With <br> Future Technology
            </h2>
            <p class="about_description">
                See the future with high-performance electric cars produced by 
                renowned brands. They feature futuristic builds and designs with 
                new and innovative platforms that last a long time.
            </p>
            <a href="#!" class="button">Know more</a>
        </div>
    </div>
</section>